<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.mapper.OrderReportMapper" >

  <select id="getReportList" resultType="OrderReport">
    select * from t_order_report
  </select>

  <insert id="insert" parameterType="OrderReport" >
    insert into t_order_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >id,</if>
      <if test="orderCount != null" >order_count,</if>
      <if test="orderMoney != null" >order_money,</if>
      <if test="createTime != null" >create_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >#{id},</if>
      <if test="orderCount != null" >#{orderCount},</if>
      <if test="orderMoney != null" >#{orderMoney},</if>
      <if test="createTime != null" >#{createTime},
      </if>
    </trim>
  </insert>

</mapper>