<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" th:href="@{/mallStatic/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/mallStatic/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/mallStatic/css/order.css}"/>
    <!--引入重置样式-->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <!--引入公用样式-->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!--引入首页样式-->
    <link rel="stylesheet" th:href="@{/css/01-index.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/mallStatic/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/mallStatic/js/order.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="shop/index::header"></div>
<div th:replace="shop/index::logo_search"></div>
<div class="navbar">
    <div th:replace="shop/common::navbar"></div>
</div>
<div class="middle container">
    <span th:if="${session.userSession != null}">
        <div th:replace="shop/user::user_nav"></div>
        <div class="user_menu" th:fragment="user_menu">
            <ol>
                <li class="on"><a th:href="@{/mall/myOrder(status=0)}">我的订单</a></li>
                <li><a th:href="@{/mall/userCenter}">个人资料</a></li>
                <li><a th:href="@{/mall/modifyPwd}">修改密码</a></li>
                <li>
					<form th:action="@{/mall/address}">
						<input type="hidden" name="pageIndex" value="1">
						<button type="submit">管理地址</button>
					</form>
				</li>
                <li>
                    <form th:action="@{/user/viewPoint}">
                        <input type="hidden" name="pageIndex" value="1">
                        <button type="submit">积分明细</button>
                    </form>
                </li>
            </ol>
        </div>
        <div class="my_order">
            <div class="order_menu">
                <ul>
                    <li><a href="#" onclick="getOrderList(this,0)" th:class="${status == 0 ? 'link on' : 'link' }">全部</a></li>
                    <li><a href="#" onclick="getOrderList(this,1)" th:class="${status == 1 ? 'link on' : 'link' }">待付款</a></li>
                    <li><a href="#" onclick="getOrderList(this,2)" th:class="${status == 2 ? 'link on' : 'link' }">待发货</a></li>
                    <li><a href="#" onclick="getOrderList(this,3)" th:class="${status == 3 ? 'link on' : 'link' }">待收货</a></li>
                    <li><a href="#" onclick="getOrderList(this,4)" th:class="${status == 4 ? 'link on' : 'link' }">待评价</a></li>
                    <li><a href="#" onclick="getOrderList(this,5)" th:class="${status == 5 ? 'link on' : 'link' }">已完成</a></li>
                    <li><a href="#" onclick="getOrderList(this,6)" th:class="${status == 6 ? 'link on' : 'link' }">已取消</a></li>
                </ul>
            </div>
            <!--订单页表页面显示-->
            <div class="order_list">
                <table border="" cellspacing="" cellpadding="">
                    <thead>
                    <tr>
                        <th>订单编号</th>
                        <th>商品数量</th>
                        <th>总金额(元)</th>
                        <th>下单时间</th>
                        <th>下单状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order:${orderList}">
                        <td th:text="${order.orderCode}"></td>
                        <td th:text="${order.goodsCount}" style="color: #0C0C0C"></td>
                        <td th:text="${'￥'+order.paymentMoney}"></td>
                        <td th:text="*{#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${order.stateName}" th:style="${order.state == 1 || order.state == 6 ? 'color: #FF0000' : 'color: #0C0C0C'}"></td>
                        <td>
                            <a th:href="@{/mall/pay(id=${order.id})}" th:if="${order.state == 1}" style="color: #0d8ddb">支付</a>
                            <a th:href="@{/mall/orderDetails(id=${order.id})}" style="color: #4ec34d">查看订单</a>
                            <a href="javascript:void(0)" class="confirm" th:attr="oid=${order.id}" th:if="${order.state == 3}">确认收货</a>
                            <a href="javascript:void(0)" class="cancelOrder" th:attr="cancel=${order.id},code=${order.orderCode}" th:if="${order.state == 1}" style="color: #FF0000">取消</a>
                            <a th:href="@{/mall/comment(orderCode=${order.orderCode})}" class="link active" th:if="${order.state == 4}">去评价</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </span>
    <span th:if="${session.userSession == null}">
        <h1>您未登录，无法查看订单，赶紧去<a th:href="@{/mall/login}">登录</a>吧!</h1>
    </span>
</div>
<div th:replace="shop/index::copyfooter"></div>
</body>
</html>