<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>注册页</title>
	<link rel="stylesheet" type="text/css" th:href="@{/mallStatic/css/common.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/mallStatic/css/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/mallStatic/css/register.css}"/>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/01-index.css}">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/mallStatic/js/jquery.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/js/plugins/layer/layer.min.js}"></script>
	<script th:src="@{/mallStatic/js/myjs.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/mallStatic/js/check.js}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div th:replace="shop/index::header"></div>
<div th:replace="shop/index::logo_search"></div>
<div class="navbar">
	<div th:replace="shop/common::navbar"></div>
</div>
<div class="register" style="background-image: url('http://localhost/images/regImages.jpg');background-repeat: no-repeat;">
	<div class="reg_info">
		<div style="background-color: #FFFFFF">
			<br>
			<h2>欢迎注册</h2>
			<form id="regForm" onsubmit="return false">
			<div>
				<label>用户名：</label>
				<input type="text" name="account" id="account"/>
				<i></i>
			</div>
			<div>
				<label>昵称：</label>
				<input type="text" name="nickName" id="nickName" />
				<i></i>
			</div>
			<div>
				<label>密码：</label>
				<input type="password" name="password" id="password" />
				<i></i>
			</div>
			<div>
				<label>确认密码：</label>
				<input type="password" name="con_password" id="con_password"/>
				<i></i>
			</div>

			<div>
				<label>手机号：</label>
				<input type="number" name="phone" id="phone">
				<i></i>
			</div>
			<div>
				<label>Email：</label>
				<input type="text" name="email" id="email" />
				<i></i>
			</div>
			<div class="imgVerify">
				<input type="text" name="verify" id="code" placeholder="请输入验证码" >
				<a href="javascript:void(0);" rel="external nofollow" title="点击更换验证码">
					<img style="margin-top: 12px;" id="imgVerify" src="" alt="更换验证码" height="36" width="100%" onclick="swichCode(this);">
				</a>
				<i></i>
			</div>
			<div>
				<button id="submitReg" type="button">注册</button>
			</div>
		</form>
			<br>
		</div>
	</div>
	<!--<div class="login_mode">
		<h3>已有账号，直接登录</h3>
		<ol>
			<li>
				<img th:src="@{/mallStatic/img/icon_qq.png}"/>
				<a href="###">使用QQ登录</a>
			</li>
			<li>
				<img th:src="@{/mallStatic/img/icon_wb.png}"/>
				<a href="###">使用新浪微博登录</a>
			</li>
			<li>
				<img th:src="@{/mallStatic/img/icon_wx.png}"/>
				<a href="###">使用微信登录</a>
			</li>
		</ol>
	</div>-->
</div>

</body>
</html>
